version: "3.7"

services:
  postgresql:
    image: postgres:latest
    restart: always
    shm_size: 128mb
    ports:
      - '5432:5432'
    expose:
      - "5432"
    environment:
      POSTGRES_PASSWORD: secret
      POSTGRES_USER: user
      POSTGRES_DB: podgopher
